html {
    height: 100vh;
    padding: 20px;
}

body {
    background-image: url('../images/background.png');
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Dancing Script', cursive;
    -webkit-animation: fadein 3s ease 0s forwards;
    animation: fadein 3s ease 0s forwards;


}

.table {
    box-shadow: -10px 10px 92px 8px rgba(41, 42, 46, 0.75), 0px 0px 0px 3px #C3C744 inset;
    background-color: #1A5035;
    border-radius: 150px;
    border: 12px solid #1C1E20;


}

.header {
    text-align: center;
}

#dealerdiv {
    min-height: 128px;
    border-bottom: 3px solid #C3C744;
}

#playerdiv {
    min-height: 128px;
}

#twoCards {
    text-align: center;
    -webkit-animation: fadein 1s ease 0s forwards;
    animation: fadein 1s ease 0s forwards;

}

#twoCards > img:nth-child(2) {
    width: 10%;
    -webkit-animation: fadein 1s ease 0s forwards;
    animation: fadein 1s ease 0s forwards;

}


#twoCards > img:nth-child(3) {
    width: 10%;
    -webkit-animation: fadein 1s ease 0s forwards;
    animation: fadein 1s ease 0s forwards;
}




#twoCards > img:nth-child(1) {
    width: 10%;
    -webkit-animation: fadein 1s ease 0s forwards;
    animation: fadein 1s ease 0s forwards;
}



p {
    margin-top: 0px;
    font-family: futura;
    color: white;
    text-shadow: 2px 2px 0px black;

}


#twoCards > p {
    margin-bottom: 0px;
}

#twoCards > p {
    color: white;
}

#buttons {
    text-align: center;
    color: black;


}

button {

    -moz-box-shadow: 3px 4px 0px 0px #8a2a21;
    -webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
    background-color: #c62d1f;
    border-radius: ;
    border: 1px solid #d02718;
    cursor: pointer;
    color: #ffffff;
    font-family: futura;
    padding: 7px;
    margin: 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
}

button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
    background: -moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: -webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: -o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: -ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f', GradientType=0);
    background-color: #f24437;
}

button:active {
    position: relative;
    top: 1px;
}

h2 {
    font-family: futura;
    text-shadow: 2px 2px 0px black;
    color: white;
    text-align: center;

}

h1 {
    margin: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
}

#dealerCards {
    text-align: center;
}

#dealerCards > img {
    width: 10%;
}


@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@media screen and (max-width: 560px) {
    #twoCards > img {
        width: 15%;
        -webkit-animation: fadein 1s ease 0s forwards;
        animation: fadein 1s ease 0s forwards;
    }

    #dealerCards > img {
        width: 15%;
        -webkit-animation: fadein 3s ease 0s forwards;
        animation: fadein 3s ease 0s forwards;
    }

    #twoCards > img:nth-child(2) {
        width: 15%;
        -webkit-animation: fadein 1s ease 0s forwards;
        animation: fadein 1s ease 0s forwards;
    }


    #twoCards > img:nth-child(3) {
        width: 15%;
        -webkit-animation: fadein 1s ease 0s forwards;
        animation: fadein 1s ease 0s forwards;
    }


    #twoCards > img:nth-child(1) {
        width: 15%;
        -webkit-animation: fadein 1s ease 0s forwards;
        animation: fadein 1s ease 0s forwards;
    }


}


@media screen and (min-width: 900px) {

    #twoCards > img {
        width: 7%;
        -webkit-animation: fadein 1s ease 0s forwards;
        animation: fadein 1s ease 0s forwards;
    }

    #dealerCards > img {
        width: 7%;
        -webkit-animation: fadein 3s ease 0s forwards;
        animation: fadein 3s ease 0s forwards;
    }

    #twoCards > img:nth-child(2) {
        width: 7%;
        -webkit-animation: fadein 1s ease 0s forwards;
        animation: fadein 1s ease 0s forwards;
    }


    #twoCards > img:nth-child(3) {
        width: 7%;
        -webkit-animation: fadein 1s ease 0s forwards;
        animation: fadein 1s ease 0s forwards;
    }


    #twoCards > img:nth-child(1) {
        width: 7%;
        -webkit-animation: fadein 1s ease 0s forwards;
        animation: fadein 1s ease 0s forwards;
    }

}
